---
title: 8000038 GDPR 子アカウントの検証
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 01/15/2019
ms.locfileid: "28297234"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft アカウントに表示されている生年月日が正しくないです。

マイクロソフトでは、アカウントのセキュリティをきわめて真剣に考えて、です。可能性がありますが最近されているが表示されたら子供の Microsoft アカウントに保護者の同意を提供します。保護者の同意を提供するまたはマイクロソフト アカウントの生年月日を更新するには、ヘルプが必要な場合は、[保護者の同意の年齢の確認](https://go.microsoft.com/fwlink/p/?linkid=874364)を参照してください。
  
[保護者の同意と Microsoft の子のアカウント](https://go.microsoft.com/fwlink/p/?linkid=874365)の詳細を表示します。
  

