---
title: 8000038 GDPR 子アカウントの確認
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919949"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft アカウントに表示される生年月日が正しくない

Microsoft では、アカウントのセキュリティを非常に重視しております。あなたは最近、子供の Microsoft アカウントに対する親の同意を求められた可能性があります。親の同意を与えること、または Microsoft アカウントの生年月日を更新することに関してヘルプが必要な場合、「[保護者の同意のための年齢確認](https://go.microsoft.com/fwlink/p/?linkid=874364)」を参照してください。
  
保護者の同意とお子様の Microsoft アカウントに関する詳細については、[こちら](https://go.microsoft.com/fwlink/p/?linkid=874365)をご覧ください。
  

