---
title: EDU検証
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205272"
---
# <a name="edu-verification"></a>EDU検証

多くの場合、学業資格申請は24〜48時間以内に処理されます。 一部のリクエストはさらなる審査を必要とし、処理に最大10営業日かかる場合があります。 審査が完了しますと、学校の資格ステータスが記載されたメールを送信します。

**重要**ドメインに入る前に検証ウィザードを終了してしまったとしても、無料試用期間中いつでも[アカデミック検証ウィザードを再開](https://go.microsoft.com/fwlink/p/?linkid=2135255)できます。

[ Microsoft 365管理センター](https://go.microsoft.com/fwlink/p/?linkid=2024339)にアクセスし、ドメインのステータスを確認します。 ホームページを下にスクロールして、[**お支払い**]カードを見つけます。 **お支払い**カードは、確認プロセスのステータス（承認済み、保留中、拒否、またはドメインの追加）を示します。

リクエストが拒否された場合は、「[私の学校は対象外です。どうすればよいですか?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)」を参照してください。