---
title: EDU検証
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814377"
---
# <a name="edu-verification"></a>EDU検証

多くの場合、学業資格申請は24〜48時間以内に処理されます。 一部のリクエストはさらなる審査を必要とし、処理に最大10営業日かかる場合があります。 審査が完了しますと、学校の資格ステータスが記載されたメールを送信します。

**重要** ドメインに入る前に検証ウィザードを終了してしまったとしても、無料試用期間中いつでも [アカデミック検証ウィザードを再開](https://go.microsoft.com/fwlink/p/?linkid=2135255)できます。

[ Microsoft 365管理センター](https://go.microsoft.com/fwlink/p/?linkid=2024339)にアクセスし、ドメインのステータスを確認します。 ホームページを下にスクロールして、[**お支払い**]カードを見つけます。 **お支払い** カードは、確認プロセスのステータス（承認済み、保留中、拒否、またはドメインの追加）を示します。

リクエストが拒否された場合は、「[私の学校は対象外です。どうすればよいですか?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)」を参照してください。