---
title: EDU検証
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 05/07/2020
ms.locfileid: "44182183"
---
# <a name="edu-verification"></a>EDU検証

組織の資格が承認されたかどうかを知らせるメールが届きます。

DNS 検証が完了するまでに、最大48時間待機する必要がある場合もあります。 [後で確認する] をクリックして、後で戻って Office 365 ポータルにログインします。次に、[**[管理センター](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage)]、[設定**] の順にクリックし、[[ドメイン](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains)] をクリックして、ドメインのステータスエントリを確認します。

承認されている場合は、Microsoft 管理センターの[**[サービスを購入する](https://go.microsoft.com/fwlink/p/?linkid=868433)**]タブに移動して、サブスクリプションを購入できます。
