---
title: EDU検証
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205272"
---
# <a name="edu-verification"></a><span data-ttu-id="bb430-102">EDU検証</span><span class="sxs-lookup"><span data-stu-id="bb430-102">EDU verification</span></span>

<span data-ttu-id="bb430-103">多くの場合、学業資格申請は24〜48時間以内に処理されます。</span><span class="sxs-lookup"><span data-stu-id="bb430-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="bb430-104">一部のリクエストはさらなる審査を必要とし、処理に最大10営業日かかる場合があります。</span><span class="sxs-lookup"><span data-stu-id="bb430-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="bb430-105">審査が完了しますと、学校の資格ステータスが記載されたメールを送信します。</span><span class="sxs-lookup"><span data-stu-id="bb430-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="bb430-106">**重要**ドメインに入る前に検証ウィザードを終了してしまったとしても、無料試用期間中いつでも[アカデミック検証ウィザードを再開](https://go.microsoft.com/fwlink/p/?linkid=2135255)できます。</span><span class="sxs-lookup"><span data-stu-id="bb430-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="bb430-107">[ Microsoft 365管理センター](https://go.microsoft.com/fwlink/p/?linkid=2024339)にアクセスし、ドメインのステータスを確認します。</span><span class="sxs-lookup"><span data-stu-id="bb430-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="bb430-108">ホームページを下にスクロールして、[**お支払い**]カードを見つけます。</span><span class="sxs-lookup"><span data-stu-id="bb430-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="bb430-109">**お支払い**カードは、確認プロセスのステータス（承認済み、保留中、拒否、またはドメインの追加）を示します。</span><span class="sxs-lookup"><span data-stu-id="bb430-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="bb430-110">リクエストが拒否された場合は、「[私の学校は対象外です。どうすればよいですか?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)」を参照してください。</span><span class="sxs-lookup"><span data-stu-id="bb430-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>