---
title: 8000038 GDPR 子アカウントの確認
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524416"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft アカウントに表示される生年月日が正しくない

Microsoft では、アカウントのセキュリティを非常に重視しております。あなたは最近、子供の Microsoft アカウントに対する親の同意を求められた可能性があります。親の同意を与えること、または Microsoft アカウントの生年月日を更新することに関してヘルプが必要な場合、「[保護者の同意のための年齢確認](https://go.microsoft.com/fwlink/p/?linkid=874364)」を参照してください。
  
保護者の同意とお子様の Microsoft アカウントに関する詳細については、[こちら](https://go.microsoft.com/fwlink/p/?linkid=874365)をご覧ください。
  