---
title: Publisher の検証のトラブルシューティングを行う
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885799"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="65057-102">開発者向けの Publisher の検証に関する問題</span><span class="sxs-lookup"><span data-stu-id="65057-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="65057-103">**推奨される手順**</span><span class="sxs-lookup"><span data-stu-id="65057-103">**Recommended steps**</span></span> 

<span data-ttu-id="65057-104">Publisher の検証に関連する問題を解決するには、次の手順を実行します。</span><span class="sxs-lookup"><span data-stu-id="65057-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="65057-105">前提条件およびその他の要件がすべて満たされていることを確認します。</span><span class="sxs-lookup"><span data-stu-id="65057-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="65057-106">[アプリを Publisher の検証済みとしてマークする](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)手順を確認し、すべての手順が正常に実行されていることを確認します。</span><span class="sxs-lookup"><span data-stu-id="65057-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="65057-107">[一般的な問題](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)のリストを確認し、問題がある場合は推奨される手順に従ってください。</span><span class="sxs-lookup"><span data-stu-id="65057-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="65057-108">[Graph エクスプローラー](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)を使用して追加情報を収集し、UI の問題を除外する要求を再現します。</span><span class="sxs-lookup"><span data-stu-id="65057-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="65057-109">**おすすめのドキュメント**</span><span class="sxs-lookup"><span data-stu-id="65057-109">**Recommended documents**</span></span>

- [<span data-ttu-id="65057-110">Publisher の検証 - 概要</span><span class="sxs-lookup"><span data-stu-id="65057-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="65057-111">アプリを Publisher の検証済みとしてマークする</span><span class="sxs-lookup"><span data-stu-id="65057-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="65057-112">Publisher の検証のトラブルシューティングを行う</span><span class="sxs-lookup"><span data-stu-id="65057-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

