---
title: Publisher の検証のトラブルシューティングを行う
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885799"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>開発者向けの Publisher の検証に関する問題

**推奨される手順** 

Publisher の検証に関連する問題を解決するには、次の手順を実行します。

1. 前提条件およびその他の要件がすべて満たされていることを確認します。
2. [アプリを Publisher の検証済みとしてマークする](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)手順を確認し、すべての手順が正常に実行されていることを確認します。
3. [一般的な問題](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)のリストを確認し、問題がある場合は推奨される手順に従ってください。
4. [Graph エクスプローラー](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)を使用して追加情報を収集し、UI の問題を除外する要求を再現します。

**おすすめのドキュメント**

- [Publisher の検証 - 概要](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [アプリを Publisher の検証済みとしてマークする](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Publisher の検証のトラブルシューティングを行う](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

